.myre-charts__tooltip_d3 {
    background-color: #0D1627;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    transition: box-shadow 0.5s ease-in-out;
    padding: 3.2px 16px;
    position: absolute;
    bottom: 150%;
    white-space: nowrap;
    color: #F9F9FB;
    left: 50%;
    will-change: auto;
    transform: scale(0);
    transform-origin: top center;
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
    transform: scale(1) translateX(-50%) translateY(-100%);
}
